{
  "openapi": "3.0.1",
  "info": {
    "title": "mAI",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://app.mandalsolution.com"
    }
  ],
  "paths": {
    "/api/Auth/SignUp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Auth/SignIn": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/Auth/Logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Auth/ForgotPassword": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrgtPassword"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FrgtPassword"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FrgtPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Auth/ResetPassword": {
      "post": {
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RstPassword"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RstPassword"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RstPassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Candidates/Id": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "resume",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/Resume": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/ResumeDownload": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "resumeid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Resume"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/Email": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Candidate"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/Create": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Candidates/Search": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Slots"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Slots"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Slots"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PortalCandidateSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalCandidateSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalCandidateSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/Jobid": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateMetadataResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateMetadataResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateMetadataResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/{Candidateid}": {
      "patch": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "Candidateid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Candidates/Contact/{candidateId}": {
      "get": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/api/Candidates/Contact": {
      "post": {
        "tags": [
          "Candidates"
        ],
        "parameters": [
          {
            "name": "candidateId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Client/Create": {
      "post": {
        "tags": [
          "Client"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Client/ClientId": {
      "get": {
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Client"
                }
              }
            }
          }
        }
      }
    },
    "/api/Client/orgid": {
      "get": {
        "tags": [
          "Client"
        ],
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Client"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Configuration/orgid": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "parameters": [
          {
            "name": "organization",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Configuration"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/GenAI/GenerateEmail": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenEmailConfig"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenEmailConfig"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenEmailConfig"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/SendEmail": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Email"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Email"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Email"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/GenAI/Communications": {
      "get": {
        "tags": [
          "GenAI"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Communication"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/BulkSendEmail": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmail"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmail"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/GenAI/EmailTeplate": {
      "get": {
        "tags": [
          "GenAI"
        ],
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplate"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplate"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmailTemplate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/Parser/ResumeText": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/Parser/ResumeBase64": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FileInput"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FileInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/Parser/ResumeFile": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidatefile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "candidatefile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/Parser/Job": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/CandidateScore": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateScore"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateScore"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateScore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/CandidateScore/{jobId}/{candidateId}": {
      "get": {
        "tags": [
          "GenAI"
        ],
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateAIScore"
                }
              }
            }
          }
        }
      }
    },
    "/api/GenAI/CandidateScoreFiles": {
      "post": {
        "tags": [
          "GenAI"
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "candidatefile": {
                    "type": "string",
                    "format": "binary"
                  },
                  "jobfile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "candidatefile": {
                  "style": "form"
                },
                "jobfile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/JobAnalysis/UserQCriteria": {
      "post": {
        "tags": [
          "JobAnalysis"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStatement"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserStatement"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UserStatement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Slots"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Slots"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Slots"
                }
              }
            }
          }
        }
      }
    },
    "/api/JobAnalysis/JDCriteria": {
      "post": {
        "tags": [
          "JobAnalysis"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JDCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/Jobs/Id": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Jobs/Search": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Jobs/Create": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Jobs/Status": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "jobStatusId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Jobs/Client": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "clientId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Jobs/Share": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobShare"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JobShare"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JobShare"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Jobs/Locations": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "searchT",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Jobs/ZipCodes": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Jobs/Degrees": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Jobs/IdealCandidate": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "Jobs"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResume"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResume"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateResume"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/SignUp": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/ActivateUser": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateUser"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateUser"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/SignIn": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/Chat": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatData"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/Model": {
      "get": {
        "tags": [
          "LLMGenAI"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LLMModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LLMModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LLMModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/CreateChat": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistory"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistory"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistory"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/SaveChat": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryDetails"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryDetails"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/ChatDetail": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/ChatHistory": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistoryQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatHistoryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/EditChat": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/DeleteChat": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChatHistory"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/UserFeedback": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Feedback"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/UploadDoc": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FileData"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FileData"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FileData"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/DownloadDoc": {
      "get": {
        "tags": [
          "LLMGenAI"
        ],
        "parameters": [
          {
            "name": "DocId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/LLMGenAI/SearchDoc": {
      "post": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DocQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DocQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentSearchyResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentSearchyResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentSearchyResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/LLMGenAI/DeleteDoc": {
      "delete": {
        "tags": [
          "LLMGenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Notes/Search": {
      "post": {
        "tags": [
          "Notes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteSearch"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NoteSearch"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoteSearch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoteSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Notes/Create": {
      "post": {
        "tags": [
          "Notes"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Note"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Note"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Note"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Notifications/Search": {
      "post": {
        "tags": [
          "Notifications"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSearchQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSearchQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSearchQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Notifications/View": {
      "put": {
        "tags": [
          "Notifications"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Report/Candidate": {
      "post": {
        "tags": [
          "Report"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateReportResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateReportResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CandidateReportResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Report/Job": {
      "post": {
        "tags": [
          "Report"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobReportResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobReportResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobReportResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Report/Recruiter": {
      "post": {
        "tags": [
          "Report"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RecruiterReportResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruiterReportResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecruiterReportResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Report/Score": {
      "post": {
        "tags": [
          "Report"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ReportCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreReportResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreReportResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreReportResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/orgid": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "orgid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pagesize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/User/userid": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/User/email": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/api/User/organization": {
      "get": {
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "name": "ordid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        }
      }
    },
    "/api/Web/ContactUs": {
      "post": {
        "tags": [
          "Web"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Prospect"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Prospect"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Prospect"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Web/Search": {
      "post": {
        "tags": [
          "Web"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearchCriteria"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearchCriteria"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/JobSearchCriteria"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobWebSearchResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobWebSearchResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobWebSearchResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Web/Apply": {
      "post": {
        "tags": [
          "Web"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/Candidate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Web/ResumeApply": {
      "post": {
        "tags": [
          "Web"
        ],
        "parameters": [
          {
            "name": "jobid",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CandidateResume"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Web/Subscribe": {
      "post": {
        "tags": [
          "Web"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/*+json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActivateUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "nullable": true
          },
          "passcode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthenticationType": {
        "enum": [
          1,
          2,
          3
        ],
        "type": "integer",
        "format": "int32"
      },
      "BulkEmail": {
        "type": "object",
        "properties": {
          "fromEmail": {
            "type": "string",
            "nullable": true
          },
          "jobId": {
            "type": "integer",
            "format": "int32"
          },
          "templateId": {
            "type": "integer",
            "format": "int32"
          },
          "candidateId": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "title": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeTitle": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "location": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "skills": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "pageTitle": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "url": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "company": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "metadata": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "highestDegree": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "recentExperience": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "hasResume": {
            "type": "boolean",
            "nullable": true
          },
          "desiredIndustries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "authorizedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "unauthorizedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "jobTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "relocationStatus": {
            "type": "boolean",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/CandidateSource"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSource"
            },
            "nullable": true
          },
          "salaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSalary"
            },
            "nullable": true
          },
          "desiredJobTitles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "candidateSkills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSkill"
            },
            "nullable": true
          },
          "educations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateEducation"
            },
            "nullable": true
          },
          "experiences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateExperience"
            },
            "nullable": true
          },
          "certifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateCertification"
            },
            "nullable": true
          },
          "resumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resume"
            },
            "nullable": true
          },
          "availability": {
            "type": "string",
            "nullable": true
          },
          "experienceRange": {
            "type": "string",
            "nullable": true
          },
          "careerLevels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateLanguage"
            },
            "nullable": true
          },
          "workPermitDocuments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "candidateId": {
            "type": "integer",
            "format": "int32"
          },
          "clientCanId": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "emailId": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "currentCompany": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "qualification": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "yearsOfExperience": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalExp": {
            "type": "number",
            "format": "double"
          },
          "designation": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "sourceOfResume": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "experience": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "state": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": "US",
            "nullable": true
          },
          "zipcode": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "orgId": {
            "type": "integer",
            "format": "int32"
          },
          "candidateStatus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "majorSkills": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "lastActivityDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "profileDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeId": {
            "type": "string",
            "default": "",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateAIScore": {
        "type": "object",
        "properties": {
          "score": {
            "type": "number",
            "format": "float"
          },
          "recommendation": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "$ref": "#/components/schemas/ScoreSummary"
          }
        },
        "additionalProperties": false
      },
      "CandidateCertification": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true
          },
          "company": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateEducation": {
        "type": "object",
        "properties": {
          "degree": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "university": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateExperience": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "company": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "location": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "isCurrentExperience": {
            "type": "boolean",
            "nullable": true
          },
          "expInMonth": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateLanguage": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "nullable": true
          },
          "proficiency": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "title": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeTitle": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "location": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "skills": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "pageTitle": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "url": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "company": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "metadata": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "highestDegree": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "recentExperience": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "hasResume": {
            "type": "boolean",
            "nullable": true
          },
          "desiredIndustries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "authorizedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "unauthorizedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "jobTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "relocationStatus": {
            "type": "boolean",
            "nullable": true
          },
          "source": {
            "$ref": "#/components/schemas/CandidateSource"
          },
          "sources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSource"
            },
            "nullable": true
          },
          "salaries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSalary"
            },
            "nullable": true
          },
          "desiredJobTitles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "candidateSkills": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateSkill"
            },
            "nullable": true
          },
          "educations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateEducation"
            },
            "nullable": true
          },
          "experiences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateExperience"
            },
            "nullable": true
          },
          "certifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateCertification"
            },
            "nullable": true
          },
          "resumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Resume"
            },
            "nullable": true
          },
          "availability": {
            "type": "string",
            "nullable": true
          },
          "experienceRange": {
            "type": "string",
            "nullable": true
          },
          "careerLevels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CandidateLanguage"
            },
            "nullable": true
          },
          "workPermitDocuments": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "candidateId": {
            "type": "integer",
            "format": "int32"
          },
          "clientCanId": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "emailId": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "currentCompany": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "qualification": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "yearsOfExperience": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalExp": {
            "type": "number",
            "format": "double"
          },
          "designation": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "sourceOfResume": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "experience": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "address": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "city": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "state": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "country": {
            "type": "string",
            "default": "US",
            "nullable": true
          },
          "zipcode": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "orgId": {
            "type": "integer",
            "format": "int32"
          },
          "candidateStatus": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "majorSkills": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "lastActivityDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "profileDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "resumeId": {
            "type": "string",
            "default": "",
            "nullable": true
          },
          "score": {
            "type": "number",
            "format": "float",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CandidateMetadataResult": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
[...]
